Builds*

*.*.bak
/db/*
/incremental_db/
/output_files/
/simulation/
/synthesis/

*.rpt
*.log
*.smsg
*.summary
*.qmsg
*.chg
*.eqn
*.pin
*.sof
*.pof
*.jic
*.sld
*.sram
*.ttf
*.hif
*.qws
*.qdf
*.qsf.bak
*.bak
*.sdc.bak
*.temp
*.lso
*.fsf
*.done

*.qpf~
*.qsf~
*.qws~
*.qarlog
*.restore
*.sopcinfo
*.vhd.bak
*.vhd~